{% extends "accomodation/home.html"%}

{% block title %}
About the application
{% endblock %}

{% block content%}
<p>This application is built for the purpose of showing Kedir G. Gamada's skill of building website to potential employers.</p>
<h3 class="warning">WARNING!
<p> As this application is not real please do not put any credit card number or any sensitive personal data. 
The builder will not be responsible for any harm that one may get by entering personal sesitive data. 
Thank you </p></h3> 
<p><button type="button"> <a href="/lexihotel/">Back</a></button></p>
{% endblock %}