{% extends "accomodation/home.html"%}
{% load static  %}


{% block content%}

<div class="pictures_of_hotel"
    <ul><span>
        <li><img src="{% static 'garden.jpg' %}" width="500", height="300" alt="picture of garden"></li>

        <li><img src="{% static 'bedroom.jpg' %}" width="500", height="300" alt="picture of garden"></li>

        <li><img src="{% static 'pool.jpg' %}" width="500", height="300" alt="picture of garden"></li>

        <li><img src="{% static 'hotel.jpg'%}" width="500", height="300" alt="picture of garden"></li>
    </span>
    </ul>

</div>

<div class="source">
    The pictures are from:<br>
https://www.bing.com/images/search?q=free+garden+images+to+download&form=HDRSC4&first=1&cw=1473&ch=742 
https://www.bing.com/search?q=bedroom+images&qs=MQT&pq=bed+images&sk=MQT1LS1&sc=10-10&cvid=D1DD1E6E069541FDA440C026F00EBD55&FORM=QBRE&sp=3&lq=0
https://www.bing.com/search?q=hotel+pictures+images+and+photos+outside&qs=NW_XFC&pq=hotel+pictures+images+and+photos+ou&sc=10-35&cvid=5235633479D94AC9AA4B2FF95A91A4A8&FORM=QBRE&sp=1&ghc=1&lq=0
https://www.bing.com/search?q=hotel+pictures+images+and+photos+outside&qs=NW_XFC&pq=hotel+pictures+images+and+photos+ou&sc=10-35&cvid=5235633479D94AC9AA4B2FF95A91A4A8&FORM=QBRE&sp=1&ghc=1&lq=0
</class>
<br><br>
<button type="button"><a href="/lexihotel/">Back</a></button>
{% endblock %}