<!--{% extends "accomodation/home.html"%}

{% block title %}
List of clients who have made reservation.
{% endblock %}

{% block content %}-->
<button type="button"><a href="logout">Logout</a></button><br>
<table style="width:100%" border: 1px solid black;>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Arrival date</th>
        <th>Staying days</th>
        <th>Number of Rooms</th>
        <th>Adults</th>
        <th>Kids</th>
        <th>Paid</th>
    </tr>
    
{%for customer in booking %}
<tr>
<td>{{customer.first_name}}</td> 
<td>{{customer.last_name}}</td> 
<td>{{customer.phone}}</td>
<td> {{customer.arrival_date}}</td>
<td>{{customer.num_of_days}}</td>
<td> {{customer.number_of_rooms}}</td>
<td> {{customer.number_of_adults}} </td>
<td>{{customer.number_of_kids}} </td>
<td>{{customer.number_of_kids}}</td>
<td>{{customer.paid}}</td>
</tr>
{% endfor %}
    
</table>
{% endblock %}
